.main-section {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 5em;
    background-color: rgb(243, 235, 235);
    width: 1200px;
    max-width: 90dvw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

h1 {
    font-size: 4em;
}

.main-section p {
    font-size: 2em;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.buttons {

    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    flex-wrap: wrap;
}

.login,
.register,
.browse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse {
    flex-basis: 100%;
    margin-bottom: 4em;
}

.browse a {
    flex-basis: 100%;
    padding: 0.5em 1em;
    background-color: #111110;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 0.5em;
    text-align: center;

}

.login a,
.register a {
    padding: 0.5em 1em;
    background-color: #ffc170;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 0.5em;
    text-align: center;
}

.register a:hover {
    background-color: #08d846;
    box-shadow: 0 4px 10px rgba(14, 10, 10, 0.5);
}

.login a:hover {
    background-color: #088cd8;
    box-shadow: 0 4px 10px rgba(14, 10, 10, 0.5);
}

.browse a:hover {
    background-color: #fdfeff;
    color:#111110;
    border-color:#111110;
    box-shadow: 0 4px 10px rgba(14, 10, 10, 0.5);
}

.products {
     display:  flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 2em;

}

hr{
}

.top-rated, .recently-added{
    background-color:  #ffc1708a;
    padding: 1em;
    border-radius: 1em;
    width: 200px;
    aspect-ratio: 16 / 9;
    height: auto;
    margin-bottom: 2em ;
    margin-top: 2em ;
    
    & .img {
        width: 100%;
        aspect-ratio: 1 /1;
        height: 100%;  
        object-fit: cover;  
        border-radius: 1em;
    }
    
    p{
        font-size: 1em;        
    }
}

.top-rated:hover, .recently-added:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color:  #ffc170bd;
}