
header > div > p {
    font-size: 2em;
    font-weight: bold;
}

header , .main, nav, .user, .guest {
    display: flex;
    flex-direction: row;
    gap: 2em;
    text-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    padding: 0.5em;
    background: #ffc170;
}

.main {
    justify-content: start;
}
.main {
    flex-basis: 45%; 
}

nav {
    flex-basis: 55%; 
    
}




.main  img {
    fill: black;
    color: black;
    width: 50px;
    aspect-ratio: 1/1;
}

