
header > div > p {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(100deg, #5ff4ff, #013af5,  #f54601); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}

header , .main, nav, .user, .guest {
    display: flex;
    flex-direction: row;
    gap: 2em;
    text-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    padding: 0.5em;
    background: black;
    color: white;
}

.main {
    justify-content: start;
}
.main {
    flex-basis: 45%; 
}

nav {
    flex-basis: 55%; 
    
}




.main  img {
    fill: black;
    color: black;
    width: 50px;
    aspect-ratio: 1/1;
}

.image {
    width: 50px;
    aspect-ratio: 1 /1;
    height: auto;
    border-radius: 50%;
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}